---
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
---

<Layout title="Projects | Warren Dewey">
  <H1 text="Projects" />
  <h1 class="pb-8">
    I will add content for each of these projects at some point in the future.
    None of these projects are close to being fully completed :o
  </h1>

  <ul>
    <a href="./projects/photography"
      ><h1 class="mb-4 hover:text-blue-800">Photography</h1></a
    >
    <a href="https://challengerfantasy.com"
      ><h1 class="mb-4 hover:text-blue-800">Challenger Fantasy</h1></a
    >
    <a href="./projects/jukebox"
      ><h1 class="mb-4 hover:text-blue-800">JukeBox</h1></a
    >
    <a href="./projects/stoix-jewelry"
      ><h1 class="mb-4 hover:text-blue-800">Stoix Jewelry</h1></a
    >
    <a href="./projects/the-human-project"
      ><h1 class="mb-4 hover:text-blue-800">The Human Project</h1></a
    >
    <a href="./projects/bespoke-urns"
      ><h1 class="mb-4 hover:text-blue-800">Bespoke Urns</h1></a
    >
  </ul></Layout
>
